<link rel='stylesheet' href='/stylesheets/style.css' />
<a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
<a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
<a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>



<form id="add-ticket-form" method="POST" action="/tickets">
<label><h2>Add Tickets:</h2></label>
<label><h4>Seat:</h4></label>
<input class="dropdown" name="seat" type ="text" pattern="[A-F][1-9]\d?" placeholder = 'Ex. B88'>
<label><h4>Price: ($)</h4></label>
<input class="dropdown" type="number" name="price" placeholder = 'Ex. 8888'>
<input class="submit" type="submit" value="Add Ticket">
</form>

<br>
<select>
  <% tickets.forEach(function(t) { %>
    <option><%= t.seat %></option>
  <% }) %>
</select>
</p>