<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Mongoose Flights Lab</p>
    <br>
    <a href="/tickets/new"	<%- title === 'Add Ticket' ? 'class="active"' : '' %>>NEW TICKET</a>
    <a href="/flights/new">ADD FLIGHT</a>
    <a href="/flights">ALL FLIGHTS</a>
  </body>
</html>
