<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <blk id="title"><%= title %><sec class="subtitle">FLIGHT LAB</blk>
    <p>Welcome Aboard!</p>
    <br>
    <a href="/tickets/new">NEW TICKET</a>
    <a href="/flights/new">ADD FLIGHT</a>
    <a href="/flights">ALL FLIGHTS</a>
  </body>
</html>
